h2,
p {
    margin: 0;
    text-align: center;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    animation: fadeIn 0.3s ease-in;
}

.modal {
    --grey: rgba(138, 134, 134, 1);
    --large-text: 24px;
    --small-text: 14px;
    font-family: 'Marykate', sans-serif;
    width: calc(100% - 80px);
    padding: 59px 23px 29px 23px;
    background: linear-gradient(172.04deg, #2C294E 3.28%, #0F0E1D 93.87%);
    color: white;
    border: 1px solid rgba(111, 102, 145, 1);
    border-radius: 8px;
    animation: zoomIn 0.2s ease-in;
    overflow: inherit;
}

.modal-text {
    max-width: 250px;
}

.modal-text h2 {
    font-size: var(--large-text);
    font-weight: 400;
}

.modal-text p {
    margin-top: 10px;
    font-size: var(--small-text);
    color: var(--grey);
}

.modal img {
    position: absolute;
    z-index: 1000;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

#airdrop-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container input {
    background: transparent;
    border: 1px solid rgba(91, 91, 91, 1);
    padding: 18px 22px;
    border-radius: 12px;
    font-size: var(--small-text);
    color: var(--grey);
    font-family: 'Marykate', sans-serif;
}

.input-container label {
    font-size: var(--small-text);
    font-weight: 400;
    font-family: 'Marykate', sans-serif;
}

#airdrop-form button {
    background: linear-gradient(90deg, #4D3574 0%, #734FAC 49.77%, #4D3574 100%);
    padding: 19px;
    border: none;
    border-radius: 8px;
    font: inherit;
    color: white;
    font-size: 18px;
}

@font-face {
    font-family: "Marykate";
    src: url("Marykate-Regular.ttf");
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
